@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --negro: #1A1F16;
    --verde-uno: #1E3F20;
    --verde-dos: #345830;
    --verde-tres: #4A7856;
    --verde-cuatro: #94ECBE;
    --flecha: ↓;
    --family: 'Nunito'
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
body{
background-image: linear-gradient(
        45deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)
        )
        ,url("images/fondo.jpeg"); 
}

 section{
    height: 100vh;
    margin: 30px 0;
} 

/*---------- header ----------*/

header{
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid var(--verde-cuatro);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.container-logo{
    color: var(--verde-cuatro);
    flex: 50%;
    justify-items: center;
}
.container-logo h1{
    font-size: 150%;
}

.container-nav-responsive{
    display: none;

}
.container-nav-responsive svg{
    color: white;
    width: 40px;
    height: 100%;
    margin-right: 20px;
}

.container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0 20px;
    flex: 50%;
    
}
.container-nav li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 25px;
    font-family: 'Nunito';
    position: relative;
}
.container-nav li a:hover{
    color: var(--verde-cuatro);
}
.container-nav li a::after{
    content: "";
    width: 0%;
    height: 1px;
    color: var(--verde-cuatro);
    background-color: var(--verde-cuatro);
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-nav li a:hover::after{
    width: 100%;
    transition: 1s width ease
}

/*---------Fin header---------------*/



/*--------- main ---------------*/

/*---------Hero ---------*/

#personal{
    height: 100vh;
}

#personal .container-personal{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
/*     background-color: white; */
    width: 100%;
/*     height: 80vh; */
    margin-top: 20px;
    height: 90%;
}



#personal .container-personal .linea-uno { 
    width: 100%;
    height: 5px;
    background-color: #94ECBE;
    grid-row: 1/2;
    grid-column: 5/9;
    align-self: center;
    position: relative;
    overflow: hidden;
}
#personal .container-personal .linea-uno::after { 
    content: "";
    width: 40px;
    height: 10px;
    background-color:#05351c;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: carga-uno 10s infinite ease-out;
    transform: rotate(25deg);

}
/* #personal .linea-uno:hover::after { 
    width: 100%;
    transition: 1s width ease;
    
} */

@keyframes carga-uno {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}
@keyframes carga-dos {
    0%{
        bottom: 0;
    }
    100%{
        bottom: 100%;
    }
}
@keyframes carga-costado {
    0%{
        top: 0;
    }
    100%{
        top: 100%;
    }
}
@keyframes carga-cuatro {
    0%{
        right: 0;
    }
    100%{
        right: 100%;
    }
}




#personal .container-personal .linea-cuatro { 
    width: 100%;
    height: 5px;
    background-color: #94ECBE;
    grid-row: 11/12;
    grid-column: 5/9;
    align-self: center;
    position: relative;
    overflow: hidden;
}

#personal .container-personal .linea-cuatro::after { 
    content: "";
    width: 40px;
    height: 10px;
    background-color:#05351c;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: carga-cuatro 10s infinite ease-out;
    transform: rotate(25deg);
}
#personal .container-personal .linea-dos { 
    height: 100%;
    width:5px;
    background-color: #94ECBE;
    grid-row: 2/10;
    grid-column: 2/3;
    justify-self: center;
    position: relative;
    overflow: hidden;
}

#personal .container-personal .linea-dos::after{
    content: "";
    width: 10px;
    height: 40px;
    background-color:#05351c;
    position: absolute;
    bottom: -10%;
    left: 0;
    animation: carga-dos 10s infinite ease-out;
    transform: rotate(25deg);
    
}

#personal .container-personal .linea-tres { 
    height: 100%;
    width:5px;
    background-color: #94ECBE;
    grid-row: 2/10;
    grid-column: 11/12;
    justify-self: center;
    position: relative;
    overflow: hidden;
}
#personal .container-personal .linea-tres::after{
    content: "";
    width: 10px;
    height: 40PX;
    background-color:#05351c;
    position: absolute;
    bottom: -10%;
    right: 0;
    animation: carga-costado 10s infinite ease-out;
    transform: rotate(25deg);
}
#personal .container-personal .container-descripcion{
    background-color: #94ECBE;
    width: 100%;
    height: 80%;
    grid-column: 3/11;
    grid-row: 2/13;
    border-radius: 25px;
    outline: #05351c 2px solid;
    box-shadow: 10px 10px 25px var(--verde-cuatro);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    border: 5px white solid;
    outline: none;
}
.container-personal .container-descripcion .foto{
    background-color: white;
    grid-column: 9/12;
    grid-row: 2/10;
    border-radius: 25px;
    box-shadow: 10px 10px 25px black;
    z-index: 10;
    background-image: url("https://media.lmneuquen.com/p/738fc28e3a09c27e520cf15f8958ef5b/adjuntos/195/imagenes/000/391/0000391065/fernando-cavenaghi-noticias-argentinas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.2s all;
}
.container-personal .container-descripcion .foto:hover{
    transform: scale(1.1);
}
.container-personal .container-descripcion .descripcion{
    /* background-color: red; */
    grid-column: 2/19;
    grid-row: 2/12;
    border-radius: 25px;
    /* box-shadow: 10px 10px 25px black; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: self-start;
    color: white;
    font-family: 'Nunito';
    padding: 10px 50px;
    text-align: start
}
.container-personal .container-descripcion .descripcion p{
    color: white;
    font-size: 25px;
    font-family: 'Nunito';
}

/* .burbujas{
    position: absolute;
    z-index: -10;
    width: 180px;
    height: auto;
    bottom: 10%;
    left: 0%;
    top: 90%;
    right: 100%;
    animation: movida infinite 2s ;
} */
@keyframes movida {
    0%{
        bottom: 10%;
        left: 0%;
        top: 90%;
        right: 100%;
    }
    2%{
        bottom: 5%;
        left: 2%;
        top: 95%;
        right: 98%;
    }
    3%{
        bottom: 10%;
        left: 2%;
        top: 90%;
        right: 98%;
    }
    5%{
        bottom: 5%;
        left: 5%;
        right: 95%;
    }
/*     100%{
        bottom: 10%;
        left: 0%;
        top: 90%;
        right: 100%;
    } */
}


/*-------------Fin hero ---------------*/

/*------------Section estudios ----------*/

#estudios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    margin-bottom: 40px;
}
#estudios video{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
    opacity: 0.8;
    filter: blur(2px);
    height: 80%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 40px;
}
#estudios h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size:50px;
    margin-top: 5px;
    background-color: #05351c;
    padding: 10px 40px;
    box-shadow: 0px 1px 20px 1px #94ECBE;
    border-radius: 5px;
}
.container-estudios-card{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-estudios-card .card{
    width: 20%;
    height: 60%;
    background-color: #05351c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 5px 1px #94ECBE;
    transition: 2s all ease;
}
.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border: #94ECBE 5px solid;
    border-radius: 20px;
    transition: 1s all ;
}
.container-html{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/250px-HTML5_logo_and_wordmark.svg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.container-css{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-clip: border-box;
}
.container-js{
    background-image: url("https://media.licdn.com/dms/image/v2/D4E12AQFfe1nZbaWdMw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1698604163003?e=2147483647&v=beta&t=zrcrB8lfoVmZo0LcSLgut3A_4PwE6YFe9EK3iy17L2Y");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-clip: border-box;
}
.container-html:hover{
        background-image: linear-gradient(
        45deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    )
    ,url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/250px-HTML5_logo_and_wordmark.svg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.container-css:hover{
        background-image: linear-gradient(
        45deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    )
    ,url("https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-size: contain;
}
.container-js:hover{
        background-image: linear-gradient(
        45deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    )
    ,url("https://media.licdn.com/dms/image/v2/D4E12AQFfe1nZbaWdMw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1698604163003?e=2147483647&v=beta&t=zrcrB8lfoVmZo0LcSLgut3A_4PwE6YFe9EK3iy17L2Y");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-size: contain;
}

.container-card .container-descripcion-card{
    height: 0;
    width: 80%;
    text-align: center;
    transition: all 1s ease;
    opacity: 0;
    overflow: hidden;
    margin: auto;
    color: white;
}


.card:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}


.card:hover .container-descripcion-card{
    height: 80%;
    opacity: 1;
}

.card:not(:hover) .container-descripcion-card{
    opacity: 0;
    transition: 0.1s all ;
    overflow: hidden;
}





/*------------Fin Section estudios ----------*/


/*------- Section Trabajos ----------*/
#trabajos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-proyecto-uno{
    background-color: black;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 80%;
}
.descripcion-proyecto-uno{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.descripcion-proyecto-uno p{
    width: 70%;
    height: 70%;
    color: white;
}
.imagen-proyecto-uno{
    width: 100%;
    height: 100%;
}
.imagen-proyecto-uno iframe{
    width: 80%;
    height: 600px;
}





/*------- Fin Section Trabajos ----------*/


/*------- Section cv ----------*/

#cv{
    height: 100vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-cv{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 80%;
    width: 80%;
}
.container-cv h2{
    grid-row: 1/2;
    grid-column: 2/5;
}
.container-cv p{
    grid-row: 2/6;
    grid-column: 2/5;
}
.container-cv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    border: 1px solid var(--verde-cuatro);
    box-shadow: 0 0 20px 1px black;
}
.container-cv .imagen-1{
    grid-row: 2/7;
    grid-column: 6/12;
}
.container-cv .imagen-2{
    grid-row: 5/12;
    grid-column: 7/13;
}
.container-cv .imagen-3{
    grid-row: 9/13;
    grid-column: 6/11;
}



/*------- fin section cv ----------*/

/*------- Section contacto ----------*/

#contacto{
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-contacto{
    border: 1px solid white;
    width: 30%;
    height: 80%;
    border-radius: 25px;
}
.container-titulo-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 0 10px;
}
.container-contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px 40px;
}
.container-contacto .container-form{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 60%;
    overflow: hidden;
}
.container-contacto .container-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: wheat;
    font-size: 20px;
}
.container-contacto .container-form input::placeholder{
    border-radius: 8px;
    outline: none;
}
.container-contacto .container-form input{
    border-radius: 8px;
    outline: none;
    width: 80%;
    padding: 10px 5px;
}
.container-contacto .container-form textarea{
    border-radius: 8px;
    outline: none;
    width: 80%;

}



/*------- Fin Section contacto ----------*/


/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
}
footer p{
    margin-top: 20px;
}

/*---Fin footer ----*/


/*----Media ----*/
@media (max-width: 1080px) {
    header .container-nav{
        display: none;
    }
    header .container-nav-responsive{
        display: block;
    }
    .container-personal .container-descripcion .descripcion{
        grid-column: 2/12;
        grid-row: 7/13;
        font-size: 100%;
        overflow: hidden;
    }
    .container-personal .container-descripcion .descripcion p{
        font-size: 12px;
    }
    .container-personal .container-descripcion .foto{
        grid-column: 2/12;
        grid-row: 2/7;
        object-fit: cover;
    }
    #estudios video{
    display: none;
}
.container-estudios-card{
    display: flex;
    flex-direction: column;
}
.container-estudios-card .card{
    width: 80%;
    height:20%;
    background-color: #05351c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 5px 1px #94ECBE;
    transition: 2s all ease;
}
.container-estudios-card .card:focus{
    height: 30%;
}

#trabajos{
    flex-direction: column;
}

.container-proyecto-uno{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.descripcion-proyecto-uno{
    justify-content: center;
    align-items: center;
}
.container-contacto{
    width: 80%;
}
}


/*----fin media------*/