
/*----Media ----*/


@media (max-width: 1350px) and (min-width: 1080px){
    header{
        position: relative;
    }
    header .container-nav{
        display: none;
    }
    nav{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 25px;
        width: 100%;
        background-color: #94ECBE;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        gap: 0 25px;
    }
    nav li a {
        color: black;
        text-decoration: none;
    }
    .container-personal .container-descripcion .descripcion p{
        font-size: 100%;
    }
    .container-card .container-descripcion-card h4{
    font-size: clamp(12px,1vh,24px);
}

}




@media (max-width: 1080px) and (max-width: 1350px){
    header .container-nav{
        display: none;
    }
    header .container-nav-responsive{
        display: block;
        color: white;
    }
    nav{
        display: none;
    }
    .container-personal .container-descripcion .descripcion{
        grid-column: 2/12;
        grid-row: 7/13;
        font-size: 100%;
    }
    .container-personal .container-descripcion .descripcion p{
        font-size: 12px;
    }
    .container-personal .container-descripcion .foto{
        grid-column: 2/12;
        grid-row: 2/7;
        object-fit: cover;
    }
    #estudios video{
    display: none;
}
.container-estudios-card{
    display: flex;
    flex-direction: column;
}
.container-card .container-descripcion-card h4{
    font-size: clamp(10px,1vh,24px);
}

.container-estudios-card .card{
    width: 80%;
    height:20%;
    background-color: #05351c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 5px 1px #94ECBE;
    transition: 2s all ease;
}
.container-estudios-card .card:focus{
    height: 30%;
}

#trabajos{
    flex-direction: column;
}

.container-proyecto-uno{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.descripcion-proyecto-uno{
    justify-content: center;
    align-items: center;
}
.container-contacto{
    width: 80%;
}
.container-personal .container-descripcion .descripcion{
    /* background-color: red; */
    grid-column: 1/13;
    grid-row: 7/12;
    border-radius: 25px;
    /* box-shadow: 10px 10px 25px black; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: self-start;
    color: white;
    font-family: 'Nunito';
    padding: 10px 50px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.container-personal .container-descripcion .descripcion p {
    font-size: 0.8em;
}
}


/*----fin media------*/